@model FloraWeb.Models.TourRegisterItem
@using (Ajax.BeginForm("Edit", "Approval", FormMethod.Post,
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        UpdateTargetId = "list-of-people"
                    }, new { Class = "form-horizontal" }))
{

            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Fare</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*<div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Date</label>
                            <p class="form-control col-sm-10">@Model.Date</p>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">From</label>
                            <p class="form-control col-sm-10">@Model.From</p>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">To</label>
                            <p class="form-control col-sm-10">@Model.To</p>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">By</label>
                            <p class="form-control col-sm-10">@Model.By</p>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">By</label>
                            <p class="form-control col-sm-10">@Model.Fare</p>
                        </div>*@


                        @*<div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Approve Amount</label>
                            <input type="text" name="DisplayName" class="form-control col-sm-10" id="DisplayName" placeholder="Enter DisplayName" value="@Model.Fare">
                        </div>*@

                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>


        }